<div class="profile-tab">

	<div class="profile-tab">

		<h4>Пользователь <%= @user.name %></h4>

		<ul class="profile">
			<li> ФИО: <%= @user.surename + ' ' + @user.name + ' ' + @user.second_name %> </li>
			<li> Логин: <%= @user.login %> </li>
			<li> Дата рождения: <%= @user.birthday %> </li>
			<li> Электронная почта: <%= @user.email %> </li>
			<li> <%= link_to 'Вернуться к списку', root_path, class: 'btn btn-primary' %> </li>
		</ul>

	</div>

</div>